<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="ColoredConsole"
            name="colorconsole"
            layout="${longdate} | ${pad:padding=5:inner=${level:uppercase=true}} | ${pad:padding=20:inner=${logger:shortName=true}} | ${message}"
            useDefaultRowHighlightingRules="false"
            errorStream="false">
      <highlight-row condition="level==LogLevel.Fatal" foregroundColor="DarkRed"/>
      <highlight-row condition="level==LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level==LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level==LogLevel.Info" foregroundColor="Cyan"/>
      <highlight-row condition="level==LogLevel.Debug" foregroundColor="White"/>
      <highlight-row condition="level==LogLevel.Trace" foregroundColor="Gray"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="colorconsole" />
  </rules>
</nlog>